<html ng-app="mainApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Timed 10-Meter Walk Test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/client/main.css">
</head>
<body ng-controller="MainController">
  <div class="header-container">
    <h1>Timed 10-Meter Walk Test</h1>
  </div>
  <div class="main-container">
    <div class="nav-container">
      <ul>
        <li><button class="btn-main btn-sidebar" id="first-menu-item" ng-click="startTimer()">Timer</button></li>
        <li><button class="btn-main btn-sidebar" ng-click="inputTime()">Input Time</button></li>
        <li><button class="btn-main btn-sidebar" ng-click="showResults()">Results</button></li>
      </ul>
    </div>
    <div class="body-container">
      <div ng-show="displayTimer">
        <div id="timer">{{minutes}}:{{seconds}}</div>
        <button class="btn btn-main btn-regular" ng-click='pauseTimer()' ng-hide="displayStart">Pause</button>
        <button class="btn btn-main btn-regular" ng-click='restartTimer()' ng-show='displayStart'>Start</button>
        <button class="btn btn-yield btn-regular" ng-click="resetTimer()">Reset</button>
        <button class="btn btn-go btn-regular" ng-click="calculateRate()">Submit</button>
      </div>
      <div ng-show="displayInputs">
        <div class="form-horizontal inputs-form">
          <label>Minutes: </label>
          <input type="text" class="form-control" ng-model="inputMins">
          <label>Seconds: </label>
          <input type="text" class="form-control" ng-model="inputSecs">
        </div>
        <button class="btn btn-go content-over btn-block" ng-click="calculateInput()">Submit</button>
      </div>
      <div ng-show="displayResults">
        <p class="content-over"><span class="like-label">Results:</span> {{speed}} meters per second</p>
        <p class="like-label">Is speed at:</p>
        <div class="form-group">
          <div class="radio">
            <label>
              <input type="radio" ng-model="speedType" value="normal">normal, comfortable speed
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="speedType" value="fast">maximum speed
            </label>
          </div>
          <label>Assistive device and/or bracing used:</label>
          <input type="text" class="form-control" ng-model="assistance">
          <br>
          <label>Additional comments:</label>
          <textarea class="form-control text-input" rows="5" ng-model="comments"></textarea>
        </div>
        <button class="btn btn-go btn-block" ng-click="saveTest()">Submit</button>
      </div>
      <div ng-show="displayTable">
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="6" class="table-head">Test Results</th>
            </tr>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Speed</th>
              <th>Pace</th>
              <th>Assistance</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="result in results | orderBy: date">
                <td>{{result.date | date: "shortDate"}}</td>
                <td>{{result.date | date: "HH:mm"}}</td>
                <td>{{result.rate}}</td>
                <td>{{result.pace}}</td>
                <td>{{result.assist}}</td>
                <td>{{result.comments}}</td>
              </tr>
          </tbody>
        </table>
        <button class="btn btn-yield btn-block" ng-click="resetTable()">Clear Results</button>
      </div>
    </div>

  </div>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="/client/app/app.js"></script>
  <script src="/client/app/main.controller.js"></script>
</body>
</html>
