/*
primary background color: #E1F4FA;
secondary background color: #7DC3D1;
primary color: #00BBF9;
submit color: #6EB312;
warning color: #FF8234;
*/

body {
  font-family: Arial, Calibri, sans-serif;
  font-size: 1.5em;
}

.header-container {
  display: flex;
  display: -webkit-flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: #7DC3D1;
  color: #FFFFFF;
}

.main-container {
  display: flex;
  display: -webkit-flex;
}

.time-container {
  display: flex;
  display: -webkit-flex;
  padding: 0 10px;
}

.button-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  /*position: fixed;
  overflow: auto;*/
}

.btn-main {
  background-color: #00BBF9;
  border-color: #00a8e0;
  color: #FFFFFF;
  font-size: 1.2em;
}

.btn-go {
  background-color: #6Eb312;
  border-color: #609C10;
  color: #FFFFFF;
  font-size: 1.2em;
}

.btn-yield {
  background-color: #FF8234;
  border-color: #E65800;
  color: #FFFFFF;
  font-size: 1.2em;
}

.btn-sidebar {
  margin: 5px;
  width: 125px;
}

.btn-regular {
  margin: 5px;
  width: 200px;
}

.content-over {
  margin-top: 10px;
}

#timer {
  padding-top: 10px;
  font-size: 1.5em;
  width: fill;
  height: 2em;
  padding: 5px;
  margin: 5px;
  background-color: #F3FBFD;
  box-shadow: inset 0 1px 1px #7DC3D1;
  border-radius: 4px;
}

input[type=text], .text-input {
  background-color: #E1F4FA;
  border: 0 none;
  width: fill;
}

input[type=text]:hover, textarea:hover {
  background-color: #7DC3D1;
  border: 0 none;
}

.inputs-form {
  padding-top: 10px;
}

.like-label {
  font-weight: 700;
}

.table-head {
  text-align: center;
  font-size: 1.3em;
}
